{% load static %}

<div class="p-3 has-text-centered">
    <div class="mb-3">
        <span class="icon is-large has-text-primary">
            <i class="fas fa-dumbbell fa-2x"></i>
        </span>
    </div>
    <h2 class="title is-5 has-text-primary">Club Los Amigos</h2>
    <p class="is-size-7 has-text-grey-light">Sistema de Gestión</p>
</div>
<ul class="menu-list p-2">
    <li>
        <a href="{% url 'usuarios:dashboard' %}" {% if request.path == '/usuarios/dashboard/' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Inicio</span>
        </a>
    </li>
    <li>
        <a href="{% url 'usuarios:lista_usuarios' %}" {% if request.path == '/usuarios/usuarios/' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fas fa-user"></i></span>
            <span>Usuarios</span>
        </a>
    </li>
    <li>
        <a href="{% url 'usuarios:lista_grupos' %}" {% if request.path == '/usuarios/grupos/' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fas fa-users-cog"></i></span>
            <span>Grupos</span>
        </a>
    </li>
    <li>
        <a href="{% url 'socios:lista_socios' %}" {% if request.path == '/socios/' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fas fa-id-card"></i></span>
            <span>Socios</span>
        </a>
    </li>
    <li>
        <a href="{% url 'disciplinas:lista' %}" {% if request.path == '/disciplinas/disciplinas/' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fas fa-dumbbell"></i></span>
            <span>Disciplinas</span>
        </a>
    </li>
    
    {% if user.is_authenticated and user.groups.all.0.name in 'Administrador,Tesoreria,Comision' %}
    <li><a href="{% url 'finanzas:lista_socios_finanzas' %}"><span class="icon"><i class="fas fa-users"></i></span> Estado de socios</a></li>
    {% endif %}
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span>Documentación</span>
        </a>
    </li>
</ul>
