{% extends 'base.html' %}

{% block sidebar_menu %}
<h2 class="title is-5 p-3">Administrador</h2>
<ul class="menu-list p-2">
    <li><a href="{% url 'dashboard' %}" {% if request.path == '/usuarios/dashboard/' %}class="is-active"{% endif %}>Inicio</a></li>
    <li><a href="{% url 'lista_usuarios' %}" {% if request.path == '/usuarios/usuarios/' %}class="is-active"{% endif %}>Usuarios</a></li>
    <li><a href="{% url 'lista_grupos' %}" {% if request.path == '/usuarios/grupos/' %}class="is-active"{% endif %}>Grupos</a></li>
    <li><a href="{% url 'socios:lista_socios' %}" {% if request.path == '/socios/' %}class="is-active"{% endif %}>Socios</a></li>
    <li><a href="{% url 'disciplinas:lista' %}" {% if request.path == '/disciplinas/' %}class="is-active"{% endif %}>Disciplinas</a></li>
    <li><a href="#">Deportistas</a></li>
    <li><a href="#">Finanzas</a></li>
    <li><a href="#">Entrenamientos</a></li>
    <li><a href="#">Eventos</a></li>
    <li><a href="#">Comunicación</a></li>
    <li><a href="#">Reportes</a></li>
    <li><a href="#">Documentación</a></li>
</ul>
{% endblock %}
